@page "/get-user-all"
@rendermode InteractiveServer
@inject HttpClient httpClient

<PageTitle>Users Example - GET</PageTitle>

<h1> GET Example</h1>

<h3> api/user/all - ユーザーリストを取得 </h3>

<button class="btn btn-primary" @onclick="FetchUsers">Get User List</button>

<div class="content">
    @if (UserList.Count == 0)
    {
        <p>ユーザーが見つかりませんでした。</p>
    }
    else
    {
        <ul>
            @foreach (var user in UserList)
            {
                <li>@user</li>
            }
        </ul>
    }
</div>

@code {
    private readonly List<string> UserList = new List<string>();

    // `Get User List` ボタンがクリックされたときに呼び出されるメソッド
    private async Task FetchUsers()
    {
        UserList.Clear();

        // GET リクエストを送信し UserController からユーザー情報を取得
        var users = await httpClient.GetFromJsonAsync<IEnumerable<string>>("api/user/all");
        if (users is not null)
        {
            UserList.AddRange(users);
        }
    }
}